<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRMS Home</title>
</head>
<body>
   <center>
        <h1>'Welcome to the HRMS!'</h1>
        <h1>Employee List</h1>
    <table border="3px">
        <tr>
            <th>name</th>
            <th>designation</th>
            <th>department</th>
            <th>date_of_joining</th>
            <th>attendance</th>
        </tr>

        {% for employee in employees %}
        <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.designation}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.date_of_joining}}</td>
            <td>{{employee.attendance}}</td>
        </tr>
        {% endfor %}
    </table>
   </center>
</body>
</html>

